a:focus, 
button:focus, 
input:focus {
  outline: none;
}

.password-upload_3:focus {
    background-color: rgb(231, 231, 231);
    outline: none;
    border: 1.1px solid #07F0FF;
}

::placeholder {
    color: #3B3B3C;
    font-size: calc(16px + 0.2vw);
    font-family: "Espuma Pro", Helvetica, Arial, sans-serif;
}

.password-upload_3:focus::placeholder {
    color: rgb(5, 171, 201);
    font-size: calc(14.5px + 0.2vw);
}

input.error {
    background-color: rgb(231, 231, 231);
    border: 1.1px solid rgb(250, 53, 79);
}

.error::placeholder {
    color:   rgb(233, 94, 113);
    font-size: calc(14px + 0.2vw);
}

.error:focus {
    border: 1.1px solid rgb(250, 53, 79);
}

.error:focus::placeholder {
    color:   rgb(233, 94, 113);
    font-size: calc(14.5px + 0.2vw);
}

html {
  background-color: rgb(74, 74, 75);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  margin: auto;
  background-color: #3B3B3C;
  text-align: center;
  font-family: "Espuma Pro", Helvetica, Arial, sans-serif;
}

.two_buttons_top {
    position: fixed; 
    z-index: 1;   
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-start;
    justify-content: space-between;
    font-size: calc(16px + 0.2vw);
    font-family: "Espuma Pro", Helvetica, Arial, sans-serif;
    background: #3B3B3C;
    box-shadow: 4px 4px 10px #3B3B3C;
}

.almanac_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    left: 20px;
    width: 143px;
    height: 28px;
    background: #3B3B3C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #C4C4C4;
    border-radius: 5px; 
    cursor: pointer;
}

.link_almanac {
    padding: 9px calc(10px + 0.4vw);
    letter-spacing: 2px;
    text-decoration: none;
    color: #C4C4C4;
}

.menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    width: 124px;
    height: 28px;
    background: #3B3B3C;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.link_menu {
    letter-spacing: 4px;
    text-decoration: none;
    color: #C4C4C4;
}

.almanac-title__span,
.diary-title__span {
    display: flex;
    justify-content: center;
    color: #93FFF8;
}

.link-anchor__almanac-title {
    padding-top: 70px;
    padding-bottom: 35px;
    letter-spacing: 1px;
    font-size: calc(23px + 0.4vw);
    font-weight: bold;
}

.link-anchor__diary-title {
    padding-top: 55px;
    padding-bottom: 35px;
    letter-spacing: calc(10px + 0.2vw);
    font-size: calc(24px + 0.4vw);
    font-weight: bold;
}

.container_5 {
    margin: auto;
    width: 226px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(7, 28px);
    grid-template-rows: repeat(9, 28px) 65px 48px;
    /* grid-template-areas: 
    "arrow-minus-year indicate-year indicate-year indicate-year indicate-year indicate-year arrow-plus-year"
    "arrow-minus-month indicate-month indicate-month indicate-month indicate-month indicate-month arrow-plus-month"
    "monday tuesday wednesday thursday friday saturday sunday"
    "link-number-1 link-number-2 link-number-3 link-number-4 link-number-5 link-number-6 link-number-7"
    "link-number-8 link-number-9 link-number-10 link-number-11 link-number-12 link-number-13 link-number-14"
    "link-number-15 link-number-16 link-number-17 link-number-18 link-number-19 link-number-20 link-number-21"
    "link-number-22 link-number-23 link-number-24 link-number-25 link-number-26 link-number-27 link-number-28"
    "link-number-29 link-number-30 link-number-31 link-number-32 link-number-33 link-number-34 link-number-35"
    "link-number-36 link-number-37 link-number-38 link-number-39 link-number-40 link-number-41 link-number-42"
    "text-write text-write text-write text-write text-write text-write text-write"
    "audio-write audio-write audio-write audio-write audio-write audio-write audio-write"; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.day-week {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #C7FFFC;
    color: #3B3B3C;
    font-weight: bold;
}

.number__date-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: #C4C4C4;
}

.date-link {
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    cursor: context-menu;
    color: #3B3B3C;
    text-decoration: none;
    font-weight: bold;
}

.button__indicate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Espuma Pro", Helvetica, Arial, sans-serif;
    color: #3B3B3C;
    font-weight: 900;
}

.button__indicate-year, 
.button__indicate-month {
    width: 160px;
    height: 28px;
    background: #C7FFFC;
    font-size: calc(18px + 0.2vw);
    text-transform: uppercase;
}

.button__arrow-minus-year,
.button__arrow-plus-year,
.button__arrow-minus-month,
.button__arrow-plus-month {
    width: 28px;
    height: 28px;
    background: #C7FFFC;
    font-size: calc(16px + 0.2vw);
    text-transform: uppercase;
}

.button__text-write,
.button__audio-write {
    width: 226px;
    height: 37px;
    background: #71F6FF;
    font-size: 17.5px;
}

/* .arrow-minus-year {
    grid-area: arrow-minus-year;
} */

.indicate-year {
    /* grid-area: indicate-year; */
    grid-column: 2/7;
}

/* .arrow-plus-year {
    grid-area: arrow-plus-year;
}

.arrow-minus-month {
    grid-area: arrow-minus-month;
} */

.indicate-month {
    /* grid-area: indicate-month; */
    grid-column: 2/7;
}

/* .arrow-plus-month {
    grid-area: arrow-plus-month;
}

.monday {
    grid-area: monday;
}

.tuesday {
    grid-area: tuesday;
}

.wednesday {
    grid-area: wednesday;
}

.thursday {
    grid-area: thursday;
}

.friday {
    grid-area: friday;
}

.saturday {
    grid-area: saturday;
}

.sunday {
    grid-area: sunday;
}

.link-number-1 {
    grid-area: link-number-1;
}

.link-number-2 {
    grid-area: link-number-2;
}

.link-number-3 {
    grid-area: link-number-3;
}

.link-number-4 {
    grid-area: link-number-4;
}

.link-number-5 {
    grid-area: link-number-5;
}

.link-number-6 {
    grid-area: link-number-6;
}

.link-number-7 {
    grid-area: link-number-7;
}

.link-number-8 {
    grid-area: link-number-8;
}

.link-number-9 {
    grid-area: link-number-9;
}

.link-number-10 {
    grid-area: link-number-10;
}

.link-number-11 {
    grid-area: link-number-11;
}

.link-number-12 {
    grid-area: link-number-12;
}

.link-number-13 {
    grid-area: link-number-13;
}

.link-number-14 {
    grid-area: link-number-14;
}

.link-number-15 {
    grid-area: link-number-15;
}

.link-number-16 {
    grid-area: link-number-16;
}

.link-number-17 {
    grid-area: link-number-17;
}

.link-number-18 {
    grid-area: link-number-18;
}

.link-number-19 {
    grid-area: link-number-19;
}

.link-number-20 {
    grid-area: link-number-20;
}

.link-number-21 {
    grid-area: link-number-21;
}

.link-number-22 {
    grid-area: link-number-22;
}

.link-number-23 {
    grid-area: link-number-23;
}

.link-number-24 {
    grid-area: link-number-24;
}

.link-number-25 {
    grid-area: link-number-25;
}

.link-number-26 {
    grid-area: link-number-26;
}

.link-number-27 {
    grid-area: link-number-27;
}

.link-number-28 {
    grid-area: link-number-28;
}

.link-number-29 {
    grid-area: link-number-29;
}

.link-number-30 {
    grid-area: link-number-30;
}

.link-number-31 {
    grid-area: link-number-31;
}

.link-number-32 {
    grid-area: link-number-32;
}

.link-number-33 {
    grid-area: link-number-33;
}

.link-number-34 {
    grid-area: link-number-34;
}

.link-number-35 {
    grid-area: link-number-35;
}

.link-number-36 {
    grid-area: link-number-36;
}

.link-number-37 {
    grid-area: link-number-37;
}

.link-number-38 {
    grid-area: link-number-38;
}

.link-number-39 {
    grid-area: link-number-39;
}

.link-number-40 {
    grid-area: link-number-40;
}

.link-number-41 {
    grid-area: link-number-41;
}

.link-number-42 {
    grid-area: link-number-42;
} */

.text-write {
    /* grid-area: text-write; */
    grid-column: 1/8;
    display: grid;
    align-self: end;
}

.audio-write {
    /* grid-area: audio-write; */
    grid-column: 1/8;
    display: grid;
    align-self: end;
}

.test {
    height: 1500px;
}



