@font-face {
    font-family: 'Espuma Pro';
    src: local('Espuma Pro'), local('EspumaPro'), url('Espumapro.woff2') format('woff2'), url('Espumapro.woff') format('woff'), url('Espumapro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
